.h1 {
	font-size: 60px;
	line-height: 60px;
	font-weight: 600;
	text-transform: uppercase;
}

.h2 {
	font-size: 48px;
	line-height: 72px;
	font-weight: 600;
	text-transform: uppercase;
}

.h3 {
	font-size: 40px;
	line-height: 60px;
	font-weight: 600;
	text-transform: uppercase;
}

.h4 {
	font-size: 32px;
	line-height: 48px;
	font-weight: 600;
	text-transform: uppercase;
}

.h5 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
}

.h6 {
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.h7 {
	font-size: 14px;
	line-height: 22px;
}

.error_title {
	font-size: 80px;
	font-family: EuclidFlex;
	text-transform: uppercase;
}

.error_des {
	font-size: 32px;
	text-transform: uppercase;
}

.h8 {
	font-size: 12px;
	line-height: 18px;
}
