.grid_container {
	display: flex;
	flex-flow: row wrap;
}

.grid_container > * {
	padding-inline: var(--padding-inline);
	padding-block: var(--padding-block);
}

@media only screen and (max-width: 575px) {
	.grid_item {
		flex: var(--flex-xs);
	}
}

@media only screen and (min-width: 576px) {
	.grid_item {
		flex: var(--flex-sm);
	}
}

@media only screen and (min-width: 768px) {
	.grid_item {
		flex: var(--flex-md);
	}
}

@media only screen and (min-width: 992px) {
	.grid_item {
		flex: var(--flex-lg);
	}
}

@media only screen and (min-width: 1200px) {
	.grid_item {
		flex: var(--flex-xl);
	}
}

@media only screen and (min-width: 1600px) {
	.grid_item {
		flex: var(--flex-xxl);
	}
}
