.button {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
	outline: 0;
	border-width: 1px;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	font-family: Overpass Mono;
	text-transform: uppercase;
}

.button_icon {
	display: flex;
	align-items: center;
}

.primary {
	border: 0;
	background-color: var(--color_primary);
	color: var(--color_white);
}

.dashed {
	border-color: var(--color_primary);
	border-style: dashed;
	background-color: transparent;
	color: var(--color_white);
}

.text {
	border: 0;
	background-color: transparent;
	color: var(--color_white);
}

.default {
	border-style: solid;
	border-color: var(--color_border);
	background-color: transparent;
}

.large {
	height: 50px;
	font-size: 16px;
}

.middle {
	height: 40px;
	font-size: 14px;
}

.small {
	height: 32px;
	font-size: 12px;
}

.round.large {
	padding-inline: 32px;
	border-radius: 50px;
}

.round.middle {
	padding-inline: 24px;
	border-radius: 40px;
}

.round.small {
	padding-inline: 16px;
	border-radius: 32px;
}

.circle.large {
	width: 50px !important;
	padding-inline: 2px;
	border-radius: 50px;
}

.circle.middle {
	width: 40px !important;
	padding-inline: 2px;
	border-radius: 40px;
}

.circle.small {
	width: 32px !important;
	padding-inline: 2px;
	border-radius: 32px;
}

.square.large {
	border-radius: 16px;
	width: 50px !important;
}

.square.middle {
	border-radius: 12px;
	width: 40px !important;
}

.square.small {
	border-radius: 8px;
	width: 32px !important;
}
