.input_container {
	position: relative;
}

.input {
	display: flex;
	align-items: center;
	outline: 0;
	width: 100%;
	font-size: 14px;
	background-color: transparent;
}

.input::placeholder {
	color: var(--color_placeholder);
}

.secondary {
	border: 1px solid var(--color_primary);
	color: var(--color_white);
}

.primary {
	border: 1px solid var(--color_border);
}

.loading_wrapper {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 16px;
}

.loading_large {
	right: 16px;
}

.loading_middle {
	right: 14px;
}

.loading_small {
	right: 12px;
}

.input_icon {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
}

.icon_large_start {
	left: 16px;
}

.icon_middle_start {
	left: 14px;
}

.icon_small_start {
	left: 12px;
}

.icon_large_end {
	right: 16px;
}

.icon_middle_end {
	right: 14px;
}

.icon_small_end {
	right: 12px;
}

.large {
	height: 50px;
	padding-inline: 24px;
}

.middle {
	height: 40px;
	padding-inline: 16px;
}

.small {
	height: 32px;
	padding-inline: 14px;
}

.input_with_icon_large_start {
	padding-left: 48px;
}

.input_with_icon_middle_start {
	padding-left: 40px;
}

.input_with_icon_small_start {
	padding-left: 36px;
}

.input_with_icon_large_end {
	padding-right: 48px;
}

.input_with_icon_middle_end {
	padding-right: 40px;
}

.input_with_icon_small_end {
	padding-right: 36px;
}

.shape_round.large {
	border-radius: 50px;
}

.shape_round.middle {
	border-radius: 40px;
}

.shape_round.small {
	border-radius: 32px;
}

.shape_default.large {
	border-radius: 16px;
}

.shape_default.middle {
	border-radius: 12px;
}

.shape_default.small {
	border-radius: 8px;
}
